# Note, this is the project's local gitignore. Find my global gitignore here:
# https://github.com/zachtheyek/dotfiles/blob/master/git/.gitignore_global

# Forward-search paper
2301.12670v1.pdf

# Outputs
outputs/

# Local development environment
environment_nocuda.yml
